<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
    <style>
        body {
            font-family: "Courier New", sans-serif;
            background: lightblue;
            margin:0;
        }

        h1{
            font-family: "Courier New", sans-serif;
            font-size: 60px;
        }
        .header {
            position: absolute;
            padding: 30px;
            text-align: left;
            background: #1abc9c;
            color: black;
            font-size: 30px;
            width: 100%;


        }
        #return{
            position: absolute;
            top: 32%;
            right: 0%;
            font-family: "Courier New", sans-serif;
            font-weight: bold;
            color: black;
            margin: 5%;
        }
        #songContainer{
            position: absolute;
            top: 21%;
            right: 28%;
            align-content: center;
            counter-reset: index;
            padding: 0;
            max-width: 1000px;
            margin:10px;
            font-size: 25px;
            display: inline;
        }

        li {
            counter-increment: index;
            display: flex;
            align-items: center;
            padding: 1px 0;
            box-sizing: border-box;
            list-style-type: "SONG";
            display: inline-block;
        }

        ul{
            margin: 5px;
            list-style-type: "SONG";
        }


        /* Element counter */
        /*li::before {*/

        /*    content: counters(index, ".", decimal-leading-zero);*/
        /*    font-size: 1.5rem;*/
        /*    text-align: right;*/
        /*    font-weight: bold;*/
        /*    min-width: 20px;*/
        /*    padding-right: 12px;*/
        /*    font-variant-numeric: tabular-nums;*/
        /*    align-self: flex-start;*/
        /*    background-image: linear-gradient(to bottom, blueviolet, orangered);*/
        /*    background-attachment: fixed;*/
        /*    -webkit-background-clip: text;*/
        /*    -webkit-text-fill-color: transparent;*/
        /*    display: inline-block;*/
        /*}*/


        /* Element separation */
        li+li {
            border-top: 1px solid green;
        }

    </style>
</head>
<body>
<div class = "header">
    <h1 id = "header">LIST OF SONGS</h1>
    <a href="http://localhost:3000/home"  id="return">Go Back</a>
</div>





<div id = "songContainer">

</div>
</body>

<script>
    function playSong(songObj) {
        let socket = io();
        socket.on('connection');
        // socket.emit("songs", JSON.stringify(songObj));
        fetch('/api/songs').then(res => res.json()).then(list => {
            list.forEach(song => {
                if(song.id == songObj) {
                    socket.emit("songs", JSON.stringify(song));
                    window.location.href =
                        "/home";
                }
            });



        });
    }

    function deleteSong(songID){
        const songToDelete = document.getElementById(songID);
        const songContainer = document.getElementById("songContainer");
        const binToDelete = document.getElementById("trashBin" + songID);
        if (confirm('Are you sure you want to delete this song?')) {
            console.log("hi");
            fetch('/' + songID, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => {
                    if (res.status === 200) {
                       songToDelete.parentNode.removeChild(songToDelete);
                       binToDelete.parentNode.removeChild(binToDelete);
                    } else {
                        return Promise.reject(res.text());
                        console.log("hi");
                    }
                })
                .catch(err => console.error(err));
        }
    }

    fetch('/api/songs').then(res=>res.json()).then(list => {
        list.sort ((a,b)=>{
            return a.id - b.id;
        })
        list.forEach(song =>{
            let songName = song.Name;
            let songId = song.id;
            let songRtttl = song.rtttl;
            const songObj = {songName, songId, songRtttl};
            const songElement = document.createElement('div');
            songElement.id = "abc";
            const songContainer = document.getElementById("songContainer");
            let songState = false;
            songElement.innerHTML = `
                        <div class="songs" >
                            <ul>
                            <li style="font-weight: bold; border-top: 1px solid black; width: 800px;" onclick="playSong(${song.id})" id = "${song.id}">${song.id}.${songName}</li>
                            <i class="fa fa-trash-o" id="trashBin${song.id}" onclick="deleteSong(${song.id})"></i>
                        </div>
                   `;
            if(songState == true){
                console.log("hi");
            }
            songContainer.appendChild(songElement);
        })

    })



</script>
</html>