<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
    <style>
        body {
            font-family: "Courier New", sans-serif;
            background: lightblue ;
            margin:0;
        }

        h1{
            font-family: "Courier New", sans-serif;
            font-size: 60px;
        }
        .header {
            position: absolute;
            padding: 30px;
            text-align: left;
            background: #1abc9c;
            color: black;
            font-size: 30px;
            width: 100%;


        }
        #goBack{
            position: absolute;
            top: 32%;
            right: 2%;
            font-family: "Courier New", sans-serif;
            font-weight: bold;
            color: black;
            margin: 5%;
        }
    </style>
</head>
<body>
<div class = "header">
    <h1 id = "header">GO FIND OUT YOURSELF!</h1>
    <a href="http://localhost:3000/home"  id="goBack">Go Back</a>
</div>

</body>