<!DOCTYPE html>
<html lang="en">
<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
<style>
    body {
        font-family: Arial;
        margin: 0;

    }


    p{
        font-size: 20px;
        color: white;
    }
    .header {
        padding: 30px;
        text-align: left;
        background: #1abc9c;
        color: white;
        font-size: 30px;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>HAHA</title>
</head>
<body>

<div class = "header">
    <h1>Voice</h1>
</div>

<p id="text"></p>
<p id="message"></p>
<p id="mqtt-message"></p>
<script>


    if (annyang) {
        // Let's define a command.






        annyang.addCommands({
            'hello': function() { document.getElementById('text').innerText = 'Hello' },
            'caonima':function() { document.getElementById('message').innerText = 'CAONIMA!'}
        });



        SpeechKITT.annyang();

        setInterval(() => {
            if(SpeechKITT.isListening()) {
                setTimeout(() => {
                    SpeechKITT.abortRecognition();
                }, 10000);
            }
        }, 50)

        

        // Define a stylesheet for KITT to use
        SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

        // Render KITT's interface
        SpeechKITT.vroom();







        // Add our commands to annyang

        // Start listening.

    }

    setInterval(function () {
        fetch('/voice-data').then(tmp => tmp.json()).then(data => {
            document.getElementById('mqtt-message').innerText = data;
        })
    },1000);
</script>
</body>
</html>