<!DOCTYPE html>
<html lang="en">
<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>


<head>
    <meta charset="UTF-8">
    <title>HAHA</title>
</head>
<body>
<p id="text"></p>
<p id="message"></p>
<script>

    function abort () {

            if (annyang.isListening()) {
                    console.log("hi")
                setInterval(function(){
                    annyang.abort();
                    document.getElementById('message').innerText = 'Voice recognition aborted.';
                },5000)


            }

            return false;
    };
    if (annyang) {
        // Let's define a command.
        setInterval(function () {
                if (SpeechKITT.isListening() || annyang.isListening()) {
                    abort();
                    console.log(annyang.isListening());
                }
        },5000)













        annyang.addCommands({
            'hello': function() { document.getElementById('text').innerText = 'Hello' },
            'caonima':function() { document.getElementById('message').innerText = 'CAONIMA!'}
        });



        SpeechKITT.annyang();



        // Define a stylesheet for KITT to use
        SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

        // Render KITT's interface
        SpeechKITT.vroom();







        // Add our commands to annyang

        // Start listening.

    }


</script>
</body>
</html>